[data-popup]{
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
  z-index:999;
  display:none;

  &.active{
    display:flex;
    align-items:center;
    text-align:center;
    background-color:rgba(0,0,0,0.5);
  }

  & > div{
    flex:1 0 auto;
  }

  & .popupBody{
    max-width:700px;
    width:100vw;
    max-height:85vh;
    overflow-y:scroll;
    margin: 0 auto;
    background-color:$cream;
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.25);
    opacity:0;
  }

  &.visible .popupBody{
    opacity:1;
  }

  & header,
  & footer{
    padding:14px 28px;
  }

  & header{
    background-color:$aqua;

    & [data-destroy]{
      color:$white;
      font-size:30px;
      font-weight:300;
      cursor:pointer;
  
      &:hover{
        color:$btn-hover;
      }
    }
  }

  & .popupContent{
    padding:28px 28px;
  }

  .popupHeader{
    display: flex;
    align-items:center;
    color:darken($cream, 30%);
    
    & > div{
      flex:1 0 auto;
      text-align:left;
      
      &:last-child{
        flex: 0 0 40px;
        text-align:right;
      }
    }
  }

  .popupTitle{
    color:$darkBlue;
    font-weight:400;
  }

  & header,
  & footer{
    min-height:25px;
  }

  & .popupContent{
    min-height:300px;
  }

  &.popup-signin_form {

    & .popupBody{
      max-width:380px;
    }
  }
}

