@import 'variables';

.btn{
  font-family:$base; 
  display: block;
  padding:15px 30px;
  border-radius:12px;
  background-color:$btn-base-color;
  color:$btn-text;
  letter-spacing:1px;
  font-weight:400;
  font-size:1.4rem;
  border:0;
  cursor:pointer;
  transition: all 1s ease;
  text-align:center;
  margin-bottom:21px;

  &:hover{
    background-color:$btn-hover;
    color:#fff;
  }

  &.btn-primary{
    background-color:$darkBlue;
    color:$white;
    border:3px solid $darkBlue;

    &:hover{
      background-color:darken($darkBlue, 10%);
      border-color: darken($darkBlue, 10%);
    }
  }

  &.btn-secondary{
    background-color:transparent;
    border:3px solid $white;
    color:$white;

    &:hover{
      border-color:darken($cream, 10%);
      background-color:transparent;
      color:darken($cream, 10%);
    }
  }

  &.btn-small{
    padding:8px 15px;
    font-size:1rem;
    min-width:0;
    border:0;
  }

  &.btn-link{
    background-color:transparent;
    color:$darkGray;
    padding:0;
    border:0;
    margin-bottom:0;
    min-width:0;
    width:auto;
    display: inline-block;

    &:hover{
      color:lighten($darkGray, 10%);
    }
  }

  &[disabled]{
    opacity:.4;
    cursor:not-allowed;
  }

  &.hasLoader{
   
    & i{
      display:none;
    }
  }

  &.loading{

    & i{
      display: inline-block;
      margin-right:12px;
    }
  }

  .inlineForm &{
    border-radius:0;
    padding:11px 14px 10px;
    font-size:1rem;
    margin-bottom:0;
  }

  .loginForm &{
    border-radius:3px;
    font-size:1rem;
    min-width:0;
    padding:12px 28px;
  }

  &.btn-podcast{
    padding:0;
    display: flex;
    border:none;
    overflow:hidden;

    & span{
      padding:20px 15px 18px 15px;

      &:first-child{
        border-right:1px solid $aqua;
        background-color:$aqua;
        text-align: center;
        padding-right:11px;
      }
    }
  }

  .InnerPage &{

    &.btn-secondary{
      background-color:$black;
      border:0;

      &:hover{
        color:$white;
        background-color:lighten($black, 10%);
      }
    }
  }

  @media only screen and (min-width:768px){
    display:inline-block;
    width:auto;
    min-width:250px;
    margin-bottom:0;

    .frontPage &{
      margin-top:45px;
      padding:22px 30px 24px;
      font-size:1.55rem;
      min-width:420px;
    }

    .inlineForm &{
      min-width:125px;
      margin-top:0;
      padding:11px 14px;
      font-size:1rem;
      line-height:1.2;
      min-width:0;
    }    
  }
}

.submitButton{
  text-align: right;

  & .btn{
    display: inline-block;
  }

  .membershipCheckout &{
    margin-top:28px;
  }
}

[data-quiz-container],
[data-exit-quiz-container]{
  position: relative;
    
  & [data-quiz-back]{
    position: absolute;
    bottom:32px;
    left:0;
  }

  @media only screen and (min-width:768px){

    & [data-quiz-back]{
      bottom:8px;
    }
  }
}