@import 'variables';

form{
    text-align:left;
}

fieldset{
    border:0;
    padding:0;
    margin:0;

    & legend{
        display: none;
    }

    &.formControlInlineInputs{
        max-width:100%;
        display: flex;
    }

    @media only screen and (min-width:768px){

        [data-quiz-container] &{
            max-width:65%;
            margin: 0 auto;
        }

        &.formControlInlineInputs{
            max-width:45%;
        }

        &.formControlInlineRangeInputs {
            max-width:100%;
            margin: 0 auto;
            display: flex;
        }
    }
}

label{
    display: inline-block;
    padding:0 0 8px 0;
    width:auto;
    color:$darkGray;
    font-size:1rem;
    line-height:22px;

    & mark{
        color:$btn-hover;
    }

    .formControlInlineInputs &.formControlRadioRange{
        display: inline-flex;
        flex-direction: column;
    }

    @media only screen and (min-width:768px){
 
    }
}

[data-forgot-password]{
    display: block;
    color:$darkGray;
    font-size:12px;
    line-height:14px;
    font-weight:300px;
    
    &:hover{
       color:$btn-hover; 
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
select,
textarea{
    display: block;
    width:100%;
    margin-bottom:22px;
    padding:16px 15px 15px;
    border-radius:2px;
    border:2px solid transparent;
    font-family:$base;
    font-size:1rem;

    &:focus{
        border-color:$darkBlue;
    }
}


input[type="radio"],
input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: $darkBlue;
  margin:0;
  display: inline-block;
}

select{
    height:51px;
    padding:12px;
}

.cc-error{
    display: none;
    color:$error;
    font-size:.688rem;
    line-height:16px;
}

.mepr-form-has-errors{
    display: none;
}

.mp-form-row{
    position: relative;
}

.formControl{
    display: block;
    width:100%;

    &.formControlCheckbox,
    &.formControlRadio,
    &.formControlRadioRange{
        margin-bottom:7px;
        
        & label{
            display: flex;
        }

        & label div{
            flex:1;

            &:first-child{
                flex:0 0 35px;
                text-align:left;
            }
        }
    }

    .formControlInlineInputs &.formControlRadio{
        
        & label{
            display: inline-flex;
        }

        & label div{
            flex:1;
            

            &:first-child{
                flex:1;
                text-align:right;
                margin-right:14px;
            }
        }
    }

    .formControlInlineRangeInputs &.formControlRadioRange{

        & label{
            flex-direction:column;
        }
    
        & label div{
            flex:1;
            text-align:center;

            &:first-child{
                flex:1;
                text-align:center;
                margin-bottom:5px;
            }
        }
    }

    &.hasError{
        color:darkred;

        & label span{
            color:darkred;
        }

        & input,
        & select,
        & textarea{
            border-color:red;
            background-color:pink;
        }
    }

    @media only screen and (min-width:768px){
        display: inline-block;
        width:100%;

        &.half{
            width:47%;
            clear:left;
        }

        &.last{
            float:right;      
        }
    }
}

.inlineForm{
    margin-bottom:21px;

    & .formControl{
        display: flex;
        align-items:center;
        width:100%;
    }

    & .inlineInput{
        flex:1 0 auto;
    }

    & .inlineSubmit{
        flex: 0 0 auto;
    }

    input,
    select{
        margin-bottom:0;
        padding:13px 14px 12px;
        border-radius:0;
        font-family:$base;
        font-size:1rem;
    }

    @media only screen and (min-width:768px){


    }
}

.loginForm{
    max-width:400px;
    margin: 0 auto;
}

.formInput{

    &.formInputPasswordWithView{
        display: flex;
        text-align:center;

        & [data-view-password]{
            display: flex;
            align-items:center;
            height:54px;
            position: relative;
            margin-left:-34px;
            color:$aqua;

            &:hover{
                color:$darkBlue;
            }
        }
    }
}

.submitBtnWrap{
    text-align: right;
}

.vfb-legend{
    display: none;
}

.vfb-section{
    margin:0;
    padding:0;
}

.vfb-item{
    margin-bottom:21px;
}

.vfb-item-submit{
    text-align:right;
}

.formInputCouponCode{
    position: relative;

    & i{
        position: absolute;
        right:14px;
        top:50%;
        transform: translateY(-50%);
        color:green;
    }
}

[data-validation-msg]{
    color:#444;
    font-size:.878rem;
}

[data-progress]{
    position: relative;
    display: none;

    & > div{
        text-align:center;
        width:100%;
    }

    &.active{
        background-color:rgba($cream, 0.8);
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        display: flex;
        align-items: center;
        text-align:center;
        font-size:3rem;
        color:$aqua;
    }

    & [data-progress-msg]{
        font-size:1.5rem;
        line-height:30px;
        margin-top:21px;

    }
}