@import 'variables';

body{

  &.locked{
    position: fixed;
    width:100%;
    
  }
}

.wrap,
.wrapper,
.container{
  display: block;
  width:100%;
  clear:both;
}

.wrapper{
  position: relative;
  padding:50px 30px;

  &.cream{
    background-color:$cream;
    color:$darkBlue;

    &.addLace{

      &:before,
      &:after{
        content:"";
        position: absolute;
        z-index:2;
        width:100%;
        left:0;
        right:0;
        height:28px;
        background: url('../../../assets/static/img/x-lace.png') repeat-x center center;
        background-size:28px 28px;
      }

      &:before{
        bottom:100%;
      }
      
      &:after{
        top:100%;
      }
    }
  }

  &.darkBlue{
    background-color:$darkBlue;
    color:$white;
  }

  &.turqToAqua{
    background-image:linear-gradient($darkBlue, $aqua);
    color:$cream;
    padding:120px 30px;
  }

  &.aquaToTurq{
    background-image:linear-gradient($aqua, $darkBlue);
    color:$cream;
    padding:120px 30px;
  }  

  &.centered{
    text-align:center;
  }

  &.headerBar{
    position: absolute;
    left:0;
    right:0;
    top:0;
    z-index:9;
    padding:60px 30px 0 30px;
  }

  &.InnerPageHero {
    padding: 180px 30px 85px;
  }

  &.innerPage{
    padding:30px;
  }

  @media only screen and (min-width:768px){
    padding:100px 0;

    &.InnerPageHero {
      padding: 240px 30px 85px;
    }

    &.innerPage{
      padding:45px 0;
    }
  }
}

.container{
  margin: 0 auto;

  &.flexed{
    display: block;
  }
  
  @media only screen and (min-width:768px){

    &.flexed{
      display: flex;
      align-items: center;
      width:100%;
    }
  }

  @media only screen and (min-width:1280px){
    max-width:1100px;

    &.small{
      max-width:980px;
    }
  }
}

.headerBar{

  & .container{
    display: flex;
    align-items: center;

    & > div{
      flex:1 0 auto;
      color:$white;

      &:first-child{
        display: none;
      }

      &:last-child{
        text-align: right;
      }
    }

    & > .logo{
      text-align:center;
      width:60%;
    }
  }

  @media only screen and (min-width:768px){
    
    & .container {
      justify-content:space-evenly;
      align-items:flex-start;

      > div{
        flex:1;
        text-align:right;

        &:first-child{
          display: block;
        }
      }
  
      & > .logo{
        flex: 0 0 170px;
        text-align:center;
      }
    }
  }
}

.footerBar{

  & .container{
    justify-content:space-evenly;

    &.flexed{
      display: flex;
      flex-wrap:wrap;
      margin-bottom:28px;
    }

    & div{
      text-align:center;
      order:2;
      flex:1 0 auto;
      width:100%;

      &.logo{
        order:1;
        margin-bottom:28px;
        
        & img{
          width:50%;
          margin: 0 auto;
        }
      }

      &.leftFooterNav,
      &.rightFooterNav{
        text-align:center;
      }
    }
  }

  @media only screen and (min-width:768px){
    
    & .container{

      & .flexed{
        flex-wrap:nowrap;
        align-items:flex-start;
      }

      & div{
        
        &.leftFooterNav,
        &.rightFooterNav{
          flex:1;
          color:$white;
        }

        &.leftFooterNav{
          text-align:left;
          order:1;
        }

        &.rightFooterNav{
          text-align:right;
          order:3;
        }

        &.logo{
          order:2;
          flex: 0 0 220px;
          margin-bottom:0;
          text-align:center;
        }
      } 
    }  
  }
}

.logo{

  & .desktopLogo{
    display: none;
  }

  & .mobileLogo{
    display:block;
  }

  @media only screen and (min-width:768px){

    & .desktopLogo{
      display: block;
    }
  
    & .mobileLogo{
      display:none;
    }

  }
}

.newsletterSignup{
  max-width:600px;
  margin: 0 auto;
}

main{

  &.wrapper{
    
    &.frontPage,
    &.innerPage{
      padding:0;
    }
  }
}

.primary{
  flex:1;
}

.secondary{
  flex:0 0 300px;
}

.ctaGrid{
  
}

