.page-my-curriculum{

    & main{
        padding-bottom:0;
    }

    & .resources{
        margin-top:50px;
    }
}

[data-modules-list]{

    & [data-accordion-trigger]{
        background-color:$darkBlue;
        color:$cream;
        transition: background-color .3s ease;
        border-top:1px solid darken($darkBlue, 5%);

        &:hover{
            background-color:darken($darkBlue, 5%);
        }
    }

    & .done [data-accordion-trigger] i{
        color:greenyellow;
    }

    & [data-accordion-item].active > [data-accordion-content]{
        padding:0;
        background-color:transparent;
    }

    & [data-accordion-content]{
        
        & ul{
            padding:0 0 0 14px;
            margin:0;
        }

        & li{
            display: block;  
            margin:0;
            border-top:1px solid darken($aqua, 5%);
        }

        & a{
            margin:0;
            display: flex;
            width:100%;
            background-color:$aqua;
            transition: background-color .3s ease;

            & span{
                padding:14px 10px;
                color:$cream;

                &:first-child{
                    padding-right:0;
                }  
            }

            &:hover{
                background-color:darken($aqua, 5%);
            }

            &.done i{
                color:greenyellow;
            }

            &.play i{
                color:$turquoise;
            }
        }
    }

    @media only screen and (min-width:768px){
        margin-top:0;
    }
}

.curriculumModuleList{
    margin-top:28px;

    @media only screen and (min-width:768px){
        margin-top:0;
    }
}

.introBlurp{
    font-size:.65rem;
    color:$darkGray;
    font-style:italic;
    display: inline-block;
    margin-left:21px;
    line-height:1;
}

.progressBarLabel div,
.progressBarLabel label{
    font-size:.78rem;
    font-style:normal;
    line-height:1;
}

[data-lesson-title],
.curriculumModuleList h3{
    font-size:1.6rem;
    line-height:32px;
    color:$darkBlue;
    display: block;
    letter-spacing:0px;
}

.curriculumModuleList h3{
    text-align:center;
    text-transform:capitalize;
}

.curriculumPlayer{
    margin-bottom:21px;

    @media only screen and (min-width:768px){
        margin-bottom:50px;
        padding-right:40px;
    }
}

.lessonPlayer{
    position: relative; 
    padding-bottom: 58.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 4px 0 0 0;

    & iframe{
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        margin:0;
    }

    @media only screen and (min-width:768px){
        
        & iframe{
            min-height:400px;
        }

        .single-sfwd-topic & iframe{
            margin-bottom:21px;
        }
    }
}

[data-lesson-finished]{
    margin:28px 0;
    text-align:center;

    & .btn{
        width:100%;
    }

    @media only screen and (min-width:768px){
        
        & .btn{
            width:75%;
        }
    }
}

.downloadsGrid{
    display: block;

    & .downloadCard{
        display: block;
        margin-bottom:21px;

        & img{
            margin-bottom:0;
        }

        & .overlay{
            position: absolute;
            top:0;
            bottom:0;
            width:100%;
            background-color:rgba(255,255,255, 0.75);
            display: flex;
            align-items:center;
            justify-content: center;
            font-size:2.5rem;
            color:#444;
            opacity:0;
            transition:opacity .5s ease;
        }

        & a{
            display: block;
            border:1px solid #ccc;
            transition:border-color .3s ease;
            position: relative;
            overflow:hidden;
            max-height:322px;
    
            &:hover{
                border-color:$darkGray;                
            }
        }

        & a:hover .overlay{
            opacity:1;
        }
    
        & .title{
            position: absolute;
            bottom: 0;
            left:0;
            right:0;
            background-color:rgba(0,0,0,0.6);
            color:$white;
            font-size:.878rem;
            text-align:center;
            padding:10px 8px;
        }
    }

    @media only screen and (min-width:768px){
        display: flex;
        gap:21px;
        justify-content: space-between;
        flex-wrap:wrap;
    
        & .downloadCard{
            flex: 0 0 48%;
            margin: 0 ;
        } 
    }
}